.dashboard_ {
  background-color: var(--background-2);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.metric_card {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  background-color: var(--background-2);
}

.met {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 28px;
  border: 1px solid var(--accent);
  border-radius: 8px;
  padding: 14px 18px;
  width: 240px;
  height: 108px;
  background: var(--background-3);
}

.met_ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 28px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  background: var(--background-3);
  border-radius: 8px;
  padding: 14px 18px;
  width: 240px;
  height: 108px;
}
.met_p {
  display: flex;
  align-items: center;
  background-color: var(--background-3);
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
}

.met_span {
  font-family: var(--font-family);
  background-color: var(--background-3);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main-black);
}

.met_p_S {
  background: var(--background-3);
}

.tablo {
  display: flex;
  gap: 20px;
  background: var(--background-2);
}
