.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container {
  background: #fff;
  border-radius: 8px;
  width: 532px;
  padding: 40px 32px 60px 24px;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 10px;
}

.modal_but {
  background: none;
  font-family: var(--font-family);

  border: none;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  bottom: 26px;
  left: 14px;
}
