.filter_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 20px;
}
.filter_div_ {
  display: flex;
  gap: 14px;
}

.filter_button {
  background: var(--accent);
  border-radius: 60px;
  width: 116px;
  height: 44px;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--background-3);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.filter_inp {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 224px;
  height: 44px;
  outline: none;
  box-shadow: 0 -1px 5px 0 rgba(71, 71, 71, 0.05);
  background: var(--background-3);
  padding-left: 13px;
}

.add_button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--main-black);
  border: 1px solid rgba(89, 177, 122, 0.5);
  border-radius: 60px;
  width: 196px;
  height: 44px;
  background: var(--background-2);
  cursor: pointer;
  transition:
    background-color 0.2s ease-in,
    0.2s ease-in;
}

.add_button:hover {
  color: var(--background-3);
  background: var(--accent);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.pageDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--background);
  cursor: pointer;
}

.activeDot {
  background: var(--accent);
}

.tableWrapper {
  border-radius: 8px;
  width: 1262px;
}

.table {
  width: 100%;
  height: 470px;
  background-color: var(--background-3);
  border-collapse: collapse;
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
}

.head_info {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: rgba(29, 30, 33, 0.4);
}

.statusActive {
  background: rgba(89, 177, 122, 0.1);
  color: var(--accent);
  border-radius: 4px;

  text-align: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
}

.statusDeactive {
  background: rgba(232, 80, 80, 0.1);
  color: var(--accent-2);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
}

.edit_ {
  border: 1px solid rgba(89, 177, 122, 0.5);
  border-radius: 30px;
  width: 82px;
  height: 34px;
  font-weight: 500;
  font-size: 16px;
  line-height: 113%;
  color: var(--accent);
  background-color: var(--background-3);
  cursor: pointer;
}
.modal_input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  padding-left: 18px;
  padding-right: 18px;
  color: rgba(29, 30, 33, 0.8);
  width: 224px;
  outline: none;
  height: 44px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  margin-top: 14px;
  margin-left: 6px;
  appearance: none;
  background: #fff no-repeat right 10px center;
}

.modal_butt {
  font-weight: 500;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 129%;
  color: var(--background-3);
  background: var(--accent);
  border-radius: 60px;
  padding: 13px 50px;
  width: 133px;
  height: 44px;
  border: none;
  margin-top: 40px;
  transition: background 0.2s ease-in;
  cursor: pointer;
}
.modal_butt:hover {
  background: #3f945f;
}
.modal_cancel {
  font-weight: 500;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 129%;
  background: rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  padding: 13px 50px;
  cursor: pointer;
  border: none;
  color: rgba(29, 30, 33, 0.4);
  margin-top: 40px;
  margin-left: 8px;
  transition:
    background-color 0.2s ease-in,
    border 0.2s ease-in;
}
.modal_cancel:hover {
  border: 1px solid var(--accent);
  color: var(--accent);
  background: var(--background-3);
}

.success_ {
  border: 1px solid green;
}

.error_message {
  display: block;
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

.form_div {
  display: flex;
  flex-wrap: wrap;
}
.selectWrapper {
  position: relative;
  display: inline-block;
  width: 224px;
}

.selectWrapper svg {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
